.textarea-block{
    position: relative;
}

/* pega os textareas subsequentes do primeiro, menos o primeiro */
.textarea-block + .textarea-block{
    margin-top: 1.4rem;
}

.textarea-block textarea{
    width: 100%;
    height: 16rem;
    min-height: 8rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    resize: vertical;
    padding: 1.2 1.6rem;
    font: 1.6rem Archivo;
}

/* TUDO ISSO PRA UMA PORRA DE BORDA quando o textarea recebe foco */
/* insere um elemento quando o textarea block estver com focus */
.textarea-block:focus-within::after{
    width: calc(100% - 3.2rem);
    height: 2px;
    content: ''; /* sempre tem que colocar algo no content quando tem After ou Before */
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 7px;
}